.experience{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}
.img-doctor-ex{
    width: 500px;
}
.text-experience{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.regular{
    font-size: 25px;
}

.blue-bold{
    color: #2589BD;
    font-size: 40px;
    font-weight: bolder;
}