.login{
    display: flex;
}

.login-form{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-title{
    margin-bottom: 45px;
    font-weight: 300;
    text-transform: uppercase;
}

label{
    width: 260px;
}

.login-inp{
    width: 260px;
    margin-bottom: 20px;
}

.login-btn{
    font-size: 15px;
    background-color: #2589BD;
    color: white;
    border-radius: 5px;
    padding: 4px 35px;
    border: none;
}

.login-btn:hover{
    cursor: pointer;
    background-color: rgb(15, 143, 211);
    transition: background-color 500ms;
}